<html lang='ru'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Регистрация</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f5f5f5; margin:
      0; padding: 20px; color: #333; } .container { max-width: 600px; margin: 0
      auto; background-color: #ffffff; padding: 20px; border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border: 1px solid #dcdcdc; } h1
      { color: #7152f3; font-size: 24px; margin-bottom: 20px; } p { font-size:
      16px; margin: 0; } a { color: #7152f3; text-decoration: none; } a:hover {
      text-decoration: underline; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>HRM - 360</h1>
      <p>Для смены пароля перейдите по
        <a
          href='http://localhost:5173/password/{{confirmationToken}}/confirm'
        >ссылке</a>.</p>
    </div>
  </body>
</html>